@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
    padding:           $padding-y $padding-x;
    font-size:         $font-size;
    border-radius:     $border-radius;
}

@mixin button-style(
    $background,
    $border,
    $color,
    $hover-background: lighten($background, 7.5%),
    $hover-border:     lighten($border, 10%),
    $hover-color:      $color
) {
    background:         $background;
    border-color:       $border;
    color:              $color;

    &:hover {
        background:     $hover-background;
        border-color:   $hover-border;
        color:          $hover-color;
    }

    &:focus
    &.focus {
        background:     $hover-background;
        border-color:   $hover-border;
        color:          $hover-color;
    }

    &:disabled
    &.disabled {
        background:     $background;
        border-color:   $border;
        color:          $color;
    }
}



// --------------- Alert --------------- //
@mixin alert-style(
    $background,
    $color,
    $close-btn-color
){
    background: $background;
    color:      $color;

    .close-btn {
        color:  $close-btn-color;
    }
}



// --------------- Tabs --------------- //
@mixin border-top-radius($raduis) {
    border-top-left-radius: $raduis / 2;
    border-top-right-radius: $raduis / 2;
  }