/* Basic Colors */
$white:    #FFFFFF !default;
$gray-100: #F8F9FA !default;
$gray-200: #E9ECEF !default;
$gray-300: #DEE2E6 !default;
$gray-400: #CED4DA !default;
$gray-500: #ADB5BD !default;
$gray-600: #6C757D !default;
$gray-700: #54585D !default;
$gray-800: #3B4146 !default;
$gray-900: #2C3136 !default;
$black:    #212121 !default;

/* Primary Colors */
$blue:    #78A1C9 !default;
$indigo:  #786E90 !default;
$purple:  #A98FAC !default;
$pink:    #D59C92 !default;
$red:     #C76060 !default;
$orange:  #E5A23C !default;
$yellow:  #E0C069 !default;
$green:   #7B9A58 !default;
$teal:    #488888 !default;
$cyan:    #69B4AB !default;

/* System Colors */
$primary:      $pink !default;
$secondary:    $blue !default;
$success:      $green !default;
$info:         $teal !default;
$warning:      $yellow !default;
$danger:       $red !default;
$light:        $gray-100 !default;
$dark:         $gray-800 !default;

/* Font Family */
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

/* Font Size */
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;
$font-size-root:              null !default;

/* Font Weight */
$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;
$font-weight-base:            $font-weight-normal !default;

/* Line Height */
$line-height-base:            1.5 !default;
$line-height-lg:              2 !default;
$line-height-sm:              1.25 !default;

/* Heading */
$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

/* Link */
$link-color:                  $primary !default;
$link-decoration:             none !default;
$link-hover-color:            darken($link-color, 15%) !default;
$link-hover-decoration:       underline !default;

/* Body */
$body-bg:                     $white !default;
$body-color:                  $gray-900 !default;
$body-text-align:             null !default;