.app {

  padding: 2rem;
  
  .button-group,
  .alert-group {
    > * {
      margin: 1rem 1rem;
    }
  }

  .vertical-menus-group,
  .tabs-section,
  .icons-section {
    display: flex;
    > * {
      margin: 1rem 1rem;
    }
  }
}