.app {

  padding: 2rem;
  
  .button-group,
  .alert-group {
    > * {
      margin: 1rem 1rem;
    }
  }

  .tabs-section,
  .icons-section {
    > * {
      margin: 1rem 1rem;
    }

    .tabs-section-inner {
      display: flex;
      > * {
        margin: 1rem 1rem;
      }
    }
  }


  .vertical-menus-group {
    display: flex;

    > * {
      margin: 1rem 1rem;
    }
  }
  
}