.app {

  padding: 2rem;
  
  .button-group {
    > * {
      margin: 1rem 1rem;
    }
  }

  .alert-group {
    > * {
      margin: 1rem 1rem;
    }
  }

  .vertical-menus-group {
    display: flex;
    > * {
      margin: 1rem 1rem;
    }
  }

  .tabs-section {
    display: flex;

    > * {
      margin: 1rem 1rem;
    }
    
  }
}